/*
Contact page styles
*/
.smart-wrap{
    padding: 0px;
}
.smart-forms .form-body,.smart-container{
    padding: 0px;
    box-shadow: none;
    margin-top: 0px;
}
.smart-forms .form-footer{
    background-color: transparent;
    background-image: none;
    padding: 0px;
}