/*
Call to actions
*/
.cta.cta-bg{
    background-repeat: no-repeat;
    background-size: cover;
    h4{
        color: #fff;
    }
}
.static-bg{
    padding: 7rem 0;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
