/*
Sidebar style
*/
.widget{
    padding-bottom: 40px;
    h3{
        font-size: .86rem;
        margin-bottom: .8rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .form-control{
        font-size: 12px;
        min-height: 45px;
    }
}
.tag-list{
    >li{
        display: inline-block;
        >a{
            display: block;
            padding: 2px 6px;
            background-color: rgba($primary-color,.06);
            border-radius: 2px;
            margin:3px;
            font-size: 12px;
            color: #999;
            &:hover{
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}

