$primary-color:#0083ff;
$info-color:#d1ecf1;
$danger-color:#ff3133;
$success-color:#549630;
$success-dark-color:#386420;
$warning-color:#FECF39;
$dark-color:#121921;
$base-font: 'Open Sans', sans-serif;
