/*
Versa restaurant stylesheet
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@font-face {
  font-family: 'FontAwesome';
  src: url("../plugins/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../plugins/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../plugins/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../plugins/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../plugins/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../plugins/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**et line icons**/
@font-face {
  font-family: 'et-line';
  src: url("../plugins/et-line-font/fonts/et-line.eot");
  src: url("../plugins/et-line-font/fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../plugins/et-line-font/fonts/et-line.woff") format("woff"), url("../plugins/et-line-font/fonts/et-line.ttf") format("truetype"), url("../plugins/et-line-font/fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
basic styles
*/
html, body {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #86939e;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400; }

a {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }
  a:hover, a:focus {
    outline: 0 !important;
    text-decoration: none; }

.font300 {
  font-weight: 300 !important; }

.font400 {
  font-weight: 400 !important; }

.font500 {
  font-weight: 500 !important; }

.font600, .font700 {
  font-weight: 700 !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #212121;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  display: block; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-size: 50%;
    opacity: 0.8; }

.lead {
  font-size: 1rem; }

.social > li > a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  font-size: 20px; }
  .social > li > a:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); }

.social .twitter {
  background-color: #63cdf1; }

.social .facebook {
  background: #507cbe; }

.social .gplus {
  background: #f16261; }

/****spaces****/
.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.p0 {
  padding: 0 !important; }

.pt5 {
  padding-top: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.overflow-hiden {
  overflow-x: hidden; }

.text-danger {
  color: #ff3133 !important; }

.text-success {
  color: #549630 !important; }

.text-primary {
  color: #FECF39 !important; }

.badge-primary, .btn-primary, .label-primary {
  background-color: #FECF39 !important;
  border-color: #FECF39 !important; }

.badge-danger, .btn-danger, .label-danger {
  background-color: #ff3133 !important;
  border-color: #ff3133 !important; }

.badge-success, .btn-success, .label-success {
  background-color: #549630 !important;
  border-color: #549630 !important; }

.badge-warning, .btn-warning, .label-warning {
  background-color: #FECF39 !important;
  border-color: #FECF39 !important; }

.badge {
  font-weight: 400; }

.bg-primary {
  background-color: #FECF39 !important; }

.bg-success {
  background-color: #549630 !important; }

.bg-danger {
  background-color: #ff3133 !important; }

.bg-warning {
  background-color: #FECF39 !important; }

.bg-faded {
  background-color: #f5f8fb; }

.text-primary {
  color: #FECF39 !important; }

.text-warning {
  color: #FECF39 !important; }

.text-danger {
  color: #ff3133 !important; }

.text-success {
  color: #549630 !important; }

p.lead {
  font-weight: 400; }

.text-italic {
  font-style: italic !important; }

.text-underline {
  text-decoration: underline !important; }

.text-strikethrough {
  text-decoration: line-through !important;
  opacity: .7; }

.text-muted {
  opacity: 0.7 !important; }

.text-white {
  color: #fff !important; }

.text-white.text-muted {
  opacity: 0.8 !important; }

.font700 {
  font-weight: 700 !important; }

.font600 {
  font-weight: 600 !important; }

.font500 {
  font-weight: 500 !important; }

.font400 {
  font-weight: 400 !important; }

.grid-card {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #eee;
  font-size: 2rem; }

.center-title h4 {
  letter-spacing: 0px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px !important;
  text-transform: capitalize; }
  .center-title h4:after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: #FECF39;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px; }

@media (max-width: 991px) {
  .pt10-md {
    padding-top: 10px !important; }
  .pt20-md {
    padding-top: 20px !important; }
  .pt30-md {
    padding-top: 30px !important; }
  .pt40-md {
    padding-top: 40px !important; }
  .pt50-md {
    padding-top: 50px !important; } }

.social-list > .list-inline-item > a {
  font-size: 1.2rem;
  color: rgba(254, 207, 57, 0.3);
  display: block;
  margin-right: 5px; }
  .social-list > .list-inline-item > a:hover {
    color: rgba(254, 207, 57, 0.8); }

.center-img {
  margin: 0 auto;
  display: block; }

.shadow20 {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); }

.border-bottom {
  border-bottom: 1px solid #eee; }

.content-table {
  width: 100%;
  height: 100%;
  position: relative;
  display: table; }
  .content-table .content-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }

.coming-soon-text {
  font-family: 'Give You Glory', cursive;
  color: #fff;
  font-size: 6rem;
  line-height: 8rem;
  margin-bottom: 30px; }

.text-small {
  font-size: 12px; }

.form-control, input[type="text"], input[type="email"], input[type="password"], slelect, textarea {
  background-color: rgba(254, 207, 57, 0.02);
  border-radius: 10px;
  min-height: 40px;
  font-size: 12px; }

@media (min-width: 992px) {
  .card.card-account {
    margin-top: -80px;
    position: relative;
    border: 0px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 15px; } }

.page-title-light {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #fff;
  text-align: center; }
  .page-title-light h2 {
    color: #000; }

.dzsparallaxer h3, .dzsparallaxer .h3.h1 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 2rem; }

.bg-primary-08 {
  background-color: rgba(254, 207, 57, 0.8) !important; }

.bg-dark-08 {
  background-color: rgba(18, 25, 33, 0.8) !important; }

.bg-success-08 {
  background-color: rgba(84, 150, 48, 0.8) !important; }

.bg-info-08 {
  background-color: rgba(209, 236, 241, 0.8) !important; }

.bg-danger-08 {
  background-color: rgba(255, 49, 51, 0.8) !important; }

.bg-warning-08 {
  background-color: rgba(254, 207, 57, 0.8) !important; }

/*
Buttons
*/
.btn {
  font-size: .8rem;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  cursor: pointer;
  padding: .5rem 1rem;
  text-transform: capitalize; }
  .btn.btn-sm {
    padding: .2rem .5rem;
    font-weight: 400;
    font-size: .7rem; }
  .btn.btn-lg {
    padding: .6rem 1.8rem;
    font-weight: 600; }
  .btn.btn-xl {
    padding: 1rem 2.3rem;
    font-weight: 600; }
  .btn:hover, .btn:focus, .btn:active {
    outline: 0 !important;
    box-shadow: none !important; }
  .btn.btn-rounded {
    border-radius: 100px; }
  .btn.btn-underline {
    padding: 5px 0;
    border-bottom: 1px solid #eee; }
    .btn.btn-underline:hover, .btn.btn-underline:focus {
      border-bottom-color: #FECF39;
      color: #999; }
  .btn.btn-block {
    display: block;
    width: 100%; }
  .btn:hover {
    transform: translate3d(0, -2px, 0);
    -webkit-transform: translate3d(0, -2px, 0); }

.video-play-btn {
  width: 90px;
  height: 90px;
  background-color: #FECF39;
  color: #fff;
  font-size: 20px;
  line-height: 90px;
  display: block;
  border-radius: 50%;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
  .video-play-btn:hover {
    transform: translate3d(0, -2px, 0);
    -webkit-transform: translate3d(0, -2px, 0);
    color: #fff; }

.video-cover {
  position: relative; }
  .video-cover .video-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0); }

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none; }

.btn-warning {
  background-color: #FECF39; }

.btn-danger, .btn-primary, .btn-success, .btn-dark, .btn-info {
  color: #fff !important; }

/*outline button**/
.btn-outline-primary {
  background-color: transparent;
  border-color: #FECF39;
  color: #FECF39; }

.btn-primary {
  background-color: #FECF39;
  color: #fff;
  border-color: #FECF39; }

.btn-outline-danger {
  background-color: transparent;
  border-color: #ff3133;
  color: #ff3133; }
  .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    background-color: #ff3133;
    color: #fff;
    border-color: #ff3133; }

.btn-outline-success {
  background-color: transparent;
  border-color: #549630;
  color: #549630; }
  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    background-color: #549630;
    color: #fff;
    border-color: #549630; }

.btn-outline-warning {
  background-color: transparent;
  border-color: #FECF39;
  color: #FECF39; }
  .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    background-color: #FECF39;
    color: #fff;
    border-color: #FECF39; }

.btn-outline-light {
  color: #aeaeae; }
  .btn-outline-light:hover {
    color: #aeaeae; }

.icon-round-40 {
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  border-radius: 50% !important;
  line-height: 40px !important;
  display: inline-block !important;
  font-size: 20px !important; }

.icon-round-60 {
  width: 60px !important;
  height: 60px !important;
  text-align: center !important;
  border-radius: 50% !important;
  line-height: 60px !important;
  display: inline-block !important;
  font-size: 30px !important; }

/*social button*/
.btn.btn-social {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  position: relative;
  padding-left: 50px; }
  .btn.btn-social i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: center; }
  .btn.btn-social.facebook {
    background-color: #3b5998; }
  .btn.btn-social.twitter {
    background-color: #00aced; }

/*
Restaurant header
*/
.navbar-restaurant {
  padding: .5rem 0; }

.pushy {
  width: 290px;
  background-color: #fff; }
  .pushy .pushy-content {
    padding-top: 40px;
    position: relative; }
  .pushy .close-button {
    font-size: 20px;
    position: absolute;
    left: -10px;
    top: -10px; }
    .pushy .close-button:hover {
      color: #333; }
  .pushy ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right; }
    .pushy ul .pushy-submenu > button, .pushy ul a {
      font-weight: 400;
      padding: 10px 20px;
      color: #333;
      display: block;
      text-align: right;
      cursor: pointer;
      text-transform: uppercase; }
      .pushy ul .pushy-submenu > button:hover, .pushy ul .pushy-submenu > button :focus, .pushy ul .pushy-submenu > button :active, .pushy ul a:hover, .pushy ul a :focus, .pushy ul a :active {
        color: #FECF39;
        outline: 0 !important; }
    .pushy ul .btn {
      display: inline-block;
      margin: 5px;
      margin-left: 20px; }
    .pushy ul ul li.pushy-link a {
      padding: 5px 30px;
      text-transform: capitalize;
      color: #aeaeae;
      font-weight: 300; }

.pushy-right {
  -webkit-transform: translate3d(290px, 0, 0);
  -ms-transform: translate3d(290px, 0, 0);
  transform: translate3d(290px, 0, 0); }

.navbar-restaurant {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  z-index: 10; }

.restaurant-header h2 {
  font-family: 'Lora', serif; }

/*
Split-features
*/
@media (min-width: 992px) {
  .split-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 100px 0; }
    .split-section .split-img {
      width: 50%;
      top: 0;
      position: absolute;
      height: 100%; }
      .split-section .split-img.img-left-align {
        left: 0; }
      .split-section .split-img.img-right-align {
        right: 0; }
  .feature-split-nav .list-inline-item a {
    color: #999;
    font-weight: 700;
    border-bottom: 2px solid transparent; }
  .feature-split-nav .list-inline-item a.active {
    color: #FECF39;
    border-bottom-color: #FECF39; }
  .feature-split-nav.navbar-sticky.sticky-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    animation: .3s fadeInDown;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); } }

/*
Testimonials style 2
*/
.testimonial-card-light {
  text-align: center; }
  .testimonial-card-light .img-fluid {
    max-width: 50px;
    margin: 0 auto !important;
    float: none !important;
    display: block; }
  .testimonial-card-light .testimonial-author {
    display: block;
    min-width: 150px;
    text-align: center; }
  .testimonial-card-light .h5 {
    color: #fff; }
  .testimonial-card-light small {
    color: #fff;
    opacity: 0.8; }

/*
Testimonials
*/
.card.testimonial-card {
  position: relative; }
  .card.testimonial-card img.img-fluid {
    width: 50px; }
  .card.testimonial-card:before {
    font-family: "FontAwesome";
    content: "\f10d";
    font-size: 60px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: .1; }

.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #ddd;
  margin: 0px;
  margin-right: 3px;
  transition: all .5s;
  -webkit-transition: all .5s; }

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #d1ecf1; }

.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #d1ecf1; }

.testimonial-full {
  text-align: center; }
  .testimonial-full .img-fluid {
    max-width: 50px;
    margin: 0 auto; }
  .testimonial-full .testimonial-author {
    display: inline-block;
    min-width: 220px;
    padding-left: 50px;
    padding-bottom: 20px; }

.owl-clients .img-fluid {
  max-width: 120px;
  margin: 0 auto;
  opacity: 0.5; }

/*
Footer style
*/
.footer {
  padding: 50px 0;
  padding-bottom: 20px;
  background-color: rgba(254, 207, 57, 0.02);
  border-top: 1px solid #eee; }
  .footer h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: .95rem; }
  .footer .col-md-6 {
    margin-bottom: 30px; }
  .footer .btn.btn-underline {
    color: #777; }
    .footer .btn.btn-underline:hover, .footer .btn.btn-underline:focus {
      border-bottom-color: #FECF39;
      color: #aeaeae; }
  .footer .form-group {
    position: relative; }
    .footer .form-group .btn-newsletter {
      position: absolute;
      right: 15px;
      padding: 0px;
      border: 0px;
      background-color: transparent;
      bottom: 11px; }
  .footer .form-control {
    font-size: 13px;
    border: 0px;
    border-radius: 0px;
    border: 0px;
    background-color: #fff;
    height: 45px;
    line-height: 45px;
    border: 1px solid #ddd;
    border-radius: 5px; }
    .footer .form-control:focus {
      border-color: #FECF39; }
  .footer.bg-dark {
    background-color: #212121;
    color: #aeaeae; }
    .footer.bg-dark h4 {
      color: #fff; }
    .footer.bg-dark .btn-underline {
      color: #aeaeae;
      border-bottom-color: #aeaeae; }
      .footer.bg-dark .btn-underline:hover {
        border-bottom-color: #fff;
        color: #fff; }

.footer-gallery a {
  display: block;
  float: left;
  width: 80px;
  border-radius: 5px;
  margin: 3px; }
  .footer-gallery a .img-fluid {
    border-radius: 5px; }

/****sticky-footer**/
/**sticky footer*/
html.footer-sticky, .footer-sticky body {
  height: 100%; }

@media (min-width: 992px) {
  .footer-sticky .page-footer-sticky {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100%; }
  .footer-sticky .page-footer-sticky .footer-sticky-wrap {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 0;
    height: auto;
    position: relative;
    right: 0;
    min-height: 100%; }
  .footer-sticky .page-footer-sticky .footer-sticky-wrap .footer-sticky-inner {
    position: relative;
    width: 100%; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: 'Lora', serif; }
